* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(31, 30, 30, 255);
  color: white;
  height: 1200px;
}

.container {
  display: grid;
  /* grid-template-columns: 30% 70%; */
  grid-template-areas:
    'navbar navbar navbar'
    'section aside aside'
    'section2 section2 section2'
    'footer footer footer';
  row-gap: 10px;
  column-gap: 0px;
}

#navbar {
  background-color: rgba(39, 38, 39, 255);
  grid-area: navbar;
  /* border: 1px solid green; */
  height: 40px;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.logo {
  color: #7cac40;
  flex: 1;
  text-align: center;
  font-size: 24px;
  font-family: Arial;
  font-weight: bold;
  margin-top: 4px;
}

.navbar-content {
  color: red;
  flex: 3;
}

.navbar-content ul {
  display: flex;
  justify-content: flex-end;
  /* border: 1px solid brown; */
}

.navbar-content li {
  list-style: none;
  border-radius: 8px;
  height: auto;
  width: auto;
  margin: 4px 23px;
}

.navbar-content ul li a {
  transition: background-color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
  color: rgb(215, 213, 213);
  text-decoration: none;
  padding: 4px 8px;
  justify-items: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  /* Add this to enable flexbox properties */
  align-items: center;
  /* Vertically center the text within the navbar item */
}

.navbar-content ul li a:hover {
  background-color: rgb(73, 70, 98);
  color: #082818;
  transform: scale(1.1);
  height: 100%;
}

#section {
  grid-area: section;
  flex-shrink: 0;
  /* border: 1px solid yellow; */
  margin-left: 55px;
  margin-right: 50px;
  width: 400px;
  height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #565656;
  color: #918e8e;
  margin-top: 50px;
  border-radius: 5%;
  padding-top: 10px;
  position: relative;
  top: 80px;
  overflow: hidden;



  /* Change position to relative */
}




.section-title {
  color: #b5b3b3;
  margin-top: 15px;
  font-size: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-title span {
  color: #7cac40;
}

.section-image {
  height: 175px;
  width: 175px;
  overflow: hidden;
  border-radius: 15%;
  margin: auto;
}

.section-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-description {
  margin-top: 10px;
  /* border: 1px solid rgb(88, 32, 32); */
  text-align: center;
}

#section-description-box-thing {
  color: #7cac40;
  font-size: 21px;
}

#section-description-box-thing-item2 {
  color: #7cac40;
  font-size: 21px;
}

#section-description-self {
  color: white;
  font-weight: bold;
  font-size: 22px;
}


.socialmedia-handle ul {
  list-style: none;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
}

.socialmedia-handle ul li {

  margin-top: 25px;
}

.socialmedia-handle ul li a {
  transition: background-color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
  text-align: center;
  border: 2px solid #565656;
  margin: 1px;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  list-style: none;
  transition: 0.3s;
  height: 50px;
  width: 50px;
  display: block;
  padding: auto;
  margin: 8px;
}

.socialmedia-handle ul li a:hover {
  border: 1px solid #28e98c;
  background-color: black;
  color: #28e98c;
  transform: scale(1.1);
}

#aside {
  grid-area: aside;
  /* border: 1px solid white; */
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;


}

.aside-introduce-title {
  margin-top: 120px;
  padding: 6px;
  text-align: center;
  width: 140px;
  height: 34px;
  border: 1px solid #565656;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;
}

.aside-introduce-body {
  /* border:1px solid yellow; */
  margin-top: 40px;

}

.aside-introduce-body h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 66px;
  /* line-height: 6.7rem; */
}

#myname {
  color: #28e98c;

}

#myname2 {

  color: #28e98c;
}

#introduce-intro-student-paragraph,
#introduce-intro-student-paragraph2 {
  color: #9a9494;
}

.about-section {
  /* border:1px solid green; */
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.about-title {
  /* border:1px solid burlywood; */
  padding: 4px;
  margin-top: 60px;
  margin-left: 80px;
  padding: 6px;
  text-align: center;
  width: 115px;
  height: 34px;
  border: 1px solid #565656;
  border-radius: 30px;
  color: #fff;
  font-size: 13px;

}

.about-title-item {
  margin: 1px 4px;
}

.about-para {
  /* border:1px solid yellow; */
  margin-top: 50px;
  margin-left: 80px;
  line-height: 1.5;
  margin-bottom: 20px;


}

.about-body {
  margin-bottom: 10px;
}

.about-quote {
  /* border:1px solid red; */
  margin-top: 25px;
  margin-left: 80px;
  /* font-size:46px; */
}

.about-quote h1 {
  font-size: 46px;
}

.about-quote h1 span {
  color: #28e98c;
}

.about-skill {
  /* border:1px solid red; */
  display: grid;
  /* position: relative;
  top:120px;
  left:90px; */
  margin-left: 130px;
  margin-top: 200px;
  height: 400px;
  width: 400px;

}

#about-skill-item1 {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

#about-skill-item1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #565656;
  border-radius: 15%;
}

#my-status-paragraph {
  font-size: 16px;
  color: #918e8e;
}

#skillset {
  font-weight: bold;
  color: #2b8c5c;
}

#footer {
  grid-area: footer;
  /* border: 1px solid rgb(31, 4, 97); */
  position: relative;
  top: 200px;
  width: 100%;
}

#section2 {
  grid-area: section2;
  /* border:2px solid green; */
  display: flex;
  flex-direction: column;
  position: relative;
  top: 100px;
}

.aboutsection {
  display: flex;
}

.contact-section {
  height: 500px;
  /* border:1px solid red; */
  margin-top: 120px;
  margin-left: 80px;
}

.contact-section h4 {
  top: 150px;
  margin-top: 50px;
  color: rgb(185, 185, 189);
  text-align: center;
  /* line-height: 5.7rem; */
  font-size: 20px;
  color: #28e98c;
}

h4:hover {
  color: rgb(111, 111, 199);
  cursor: pointer;
}

.contact-section #contact * {
  line-height: 2.5;
  /* Adjust the value as needed */
}

.contact-section h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  line-height: 3.7rem;
  font-size: 39px;
}

.contact-section p {
  text-align: center;
  color: rgb(100, 100, 100);

}

.contact-section p:hover {
  color: #28e98c;
  cursor: pointer;
}

.contact-button {
  position: relative;
  top: 50px;
  text-align: center;
  padding: 11px;
  margin: auto;
  /* border:1px solid red; */
  width: 150px;
  height: 50px;
  border: 2px solid #617c6f;
  border-radius: 5px;
  font-size: 16px;
  color: rgb(230, 230, 230);
  transition: background-color 0.3s ease, opacity 0.3s ease, border 0.3s ease;

}

.contact-button a {
  text-decoration: none;
}

.contact-button:hover {
  background-color: rgb(53, 52, 52);
  opacity: 0.7;
  border: 2px solid #28e98c;
  cursor: pointer;

}

#footer p {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(139, 139, 168);
  text-align: center;
  font-size: 15px;
  margin-bottom: 50px;
  margin-left: 60px;
}

#footer p a {
  text-decoration: none;

}

#footer p span {
  color: #228455;
  font-weight: bold;
}

@media screen and (min-width:1192px) {
  #section2 {
    margin-top: 150px;

  }

  #section{
    margin-left:95px;
  }
}

@media screen and (max-width :1192px) {
  .container {
    display: grid;
    grid-template-areas:
      'navbar navbar navbar'
      'section section section'
      'aside aside aside'
      'section2 section2 section2'
      'footer footer footer';
  }

  #section {
    /* width: 100%; */
    margin: auto;
  }

  #aside {
    margin-left: 90px;
  }

  .about-section {
    margin-left: 0;
  }

  .about-quote h1 {
    font-size: 42px;
  }

  .about-skill {
    /* border:1px solid red; */
    display: grid;
    /* position: relative;
    top:120px;
    left:90px; */
    margin-left: 50px;
    margin-top: 200px;
    height: 300px;
    width: 300px;

  }

  #about-skill-item1 {
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  #about-skill-item1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #565656;
    border-radius: 15%;
  }

  .contact-section {
    margin-left: 0;
    margin-top: 20px;
  }

  #footer {
    top: 20px;
  }



}

@media screen and (max-width:1074px) and (min-width:912px) {
  .about-skill {
    /* border:1px solid red; */
    display: grid;
    /* position: relative;
    top:120px;
    left:90px; */
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;
    height: 250px;
    width: 250px;

  }

  #about-skill-item1 {
    width: 250px;
    height: 250px;
    overflow: hidden;
  }

  #about-skill-item1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #565656;
    border-radius: 15%;
  }

  #my-status-paragraph {
    font-size: 13px;
    color: #918e8e;
  }


}

@media screen and (max-width:919px) and (min-width:765px) {
  .about-skill {
    /* border:1px solid red; */
    display: grid;
    /* position: relative;
    top:120px;
    left:90px; */
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;
    height: 250px;
    width: 250px;
    display: none;

  }

  #about-skill-item1 {
    width: 250px;
    height: 250px;
    overflow: hidden;
  }

  #about-skill-item1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #565656;
    border-radius: 15%;
  }

  #my-status-paragraph {
    font-size: 13px;
    color: #918e8e;
  }



}


@media screen and (max-width:765px) and (min-width:653px) {
  .about-skill {
    /* border:1px solid red; */
    display: grid;
    /* position: relative;
    top:120px;
    left:90px; */
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;
    height: 250px;
    width: 250px;
    display: none;

  }

  .aside-introduce-title {
    margin-top: 120px;
    padding: 6px;
    text-align: center;
    width: 140px;
    height: 34px;
    border: 1px solid #565656;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
  }

  .aside-introduce-body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    /* line-height: 6.7rem; */
  }

  #my-status-paragraph {
    font-size: 13px;
    color: #918e8e;
  }

  #footer p {
    font-size: 13px;
  }

  .contact-section h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 3.7rem;
    font-size: 35px;
  }

  .contact-section h4 {
    top: 150px;
    margin-top: 50px;
    color: rgb(185, 185, 189);
    text-align: center;
    /* line-height: 5.7rem; */
    font-size: 18px;
    color: #28e98c;
  }
}

@media screen and (max-width:653px) and (min-width:597px) {
  .about-skill {
    /* border:1px solid red; */
    display: grid;
    /* position: relative;
    top:120px;
    left:90px; */
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;
    height: 250px;
    width: 250px;
    display: none;

  }

  .about-quote h1 {
    font-size: 38px;
  }

  .aside-introduce-body h1 {
    font-size: 48px;
  }

  .aside-introduce-body p {
    font-size: 13px;
  }

  #my-status-paragraph {
    font-size: 11px;
  }

  #footer p {
    font-size: 11px;

  }

  .contact-section p {
    font-size: 13px;
  }

  .contact-section h3 {
    font-size: 30px;
  }

  .contact-section h4 {
    font-size: 20px;
  }

  #navbar {
    background-color: rgba(39, 38, 39, 255);
    grid-area: navbar;
    /* border: 1px solid green; */
    height: 40px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  .logo {
    color: #7cac40;
    flex: 1;
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 4px;
  }

  .navbar-content {
    color: red;
    flex: 3;
  }

  .navbar-content ul {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid brown; */
  }

  .navbar-content li {
    list-style: none;
    border-radius: 8px;
    height: auto;
    width: auto;
    margin: 4px 18px;
  }

  .navbar-content ul li a {
    transition: background-color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
    color: rgb(215, 213, 213);
    text-decoration: none;
    padding: 2px 6px;
    justify-items: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    /* Add this to enable flexbox properties */
    align-items: center;
    /* Vertically center the text within the navbar item */
  }

  .navbar-content ul li a:hover {
    background-color: rgb(73, 70, 98);
    color: #082818;
    transform: scale(1.1);
    height: 100%;
  }

  #introduce-intro-student-paragraph,
  #introduce-intro-student-paragraph2 {
    font-size: 12px;
  }

}

@media screen and (max-width:597px) and (min-width:463px) {
  .about-skill {
    /* border:1px solid red; */
    display: grid;
    /* position: relative;
    top:120px;
    left:90px; */
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;
    height: 250px;
    width: 250px;
    display: none;

  }

  .about-quote h1 {
    font-size: 34px;
  }

  .aside-introduce-body h1 {
    font-size: 42px;
  }

  .aside-introduce-body p {
    font-size: 12px;
  }

  #my-status-paragraph {
    font-size: 10px;
  }

  #footer p {
    font-size: 10px;

  }

  .contact-section p {
    font-size: 12px;
  }

  .contact-section h3 {
    font-size: 26px;
  }

  .contact-section h4 {
    font-size: 18px;
  }


  .logo {
    color: #7cac40;
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 4px;
  }

  .navbar-content {
    color: red;
    flex: 3;
  }

  .navbar-content ul {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid brown; */
  }

  .navbar-content li {
    list-style: none;
    border-radius: 8px;
    height: auto;
    width: auto;
    margin: 4px 17px;
  }

  .navbar-content ul li a {
    transition: background-color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
    color: rgb(215, 213, 213);
    text-decoration: none;
    padding: 2px 6px;
    justify-items: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    /* Add this to enable flexbox properties */
    align-items: center;
    /* Vertically center the text within the navbar item */
  }

  .navbar-content ul li a:hover {
    background-color: rgb(73, 70, 98);
    color: #082818;
    transform: scale(1.1);
    height: 100%;
  }

  #aside {
    margin-left: 30px;
  }

  #section2 {
    margin-left: 0px;
  }

  .about-section {
    margin-left: 0;
  }

  .about-quote h1 {
    font-size: 32px;
  }

  .about-title {
    margin-left: 25px;
  }

  .about-quote {
    margin-left: 25px;
  }

  .about-para {
    margin-left: 25px;
  }


  .aside-introduce-title {
    margin-top: 120px;
    padding: 6px;
    text-align: center;
    width: 140px;
    height: 34px;
    border: 1px solid #565656;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
  }

  .aside-introduce-body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    /* line-height: 6.7rem; */
  }

  #introduce-intro-student-paragraph,
  #introduce-intro-student-paragraph2 {
    color: #9a9494;
    font-size: 13px;
  }

  .aside-introduce-body p {
    font-size: 12px;
  }

  #footer p {
    margin-left: 0px;
  }

  .contact-section p {
    font-size: 11px;
  }
}

@media screen and (max-width:463px) {

  #section {
    width: 100%;
  }

  .about-skill {
    /* border:1px solid red; */
    display: grid;
    /* position: relative;
    top:120px;
    left:90px; */
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 200px;
    height: 250px;
    width: 250px;
    display: none;

  }

  .about-quote h1 {
    font-size: 15px;
  }

  .aside-introduce-body h1 {
    font-size: 15px;
  }

  .aside-introduce-body p {
    font-size: 9px;
  }

  #my-status-paragraph {
    font-size: 10px;
  }

  #footer p {
    font-size: 10px;

  }

  .contact-section p {
    font-size: 12px;
  }

  .contact-section h3 {
    font-size: 26px;
  }

  .contact-section h4 {
    font-size: 18px;
  }


  .logo {
    color: #7cac40;
    flex: 1;
    text-align: center;
    font-size: 16px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 4px;
  }

  .navbar-content {
    color: red;
    flex: 3;
  }

  .navbar-content ul {
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid brown; */
  }

  .navbar-content li {
    list-style: none;
    border-radius: 8px;
    height: auto;
    width: auto;
    margin: 4px 14px;
  }

  .navbar-content ul li a {
    transition: background-color 0.3s ease, opacity 0.3s ease, border 0.3s ease;
    color: rgb(215, 213, 213);
    text-decoration: none;
    padding: 2px 6px;
    justify-items: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    /* Add this to enable flexbox properties */
    align-items: center;
    /* Vertically center the text within the navbar item */
  }

  .navbar-content ul li a:hover {
    background-color: rgb(73, 70, 98);
    color: #082818;
    transform: scale(1.1);
    height: 100%;
  }

  #aside {
    margin-left: 30px;
  }

  #section2 {
    margin-left: 0px;
  }

  .about-section {
    margin-left: 0;
  }

  .about-quote h1 {
    font-size: 32px;
  }

  .about-title {
    margin-left: 25px;
  }

  .about-quote {
    margin-left: 25px;
  }

  .about-para {
    margin-left: 25px;
  }


  .aside-introduce-title {
    margin-top: 120px;
    padding: 6px;
    text-align: center;
    width: 140px;
    height: 34px;
    border: 1px solid #565656;
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
  }

  .aside-introduce-body h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    /* line-height: 6.7rem; */
  }

  #introduce-intro-student-paragraph,
  #introduce-intro-student-paragraph2 {
    color: #9a9494;
    font-size: 13px;
  }

  .aside-introduce-body p {
    font-size: 13px;
  }

  #footer p {
    margin-left: 0px;
  }

  .contact-section p {
    font-size: 11px;
  }
}